.wrapper_header {
  display: flex;
  align-items: center;
  background-color: #fbbe18;
  border-radius: 0 0 10px 10px;

  &__title_wrapper {
    flex: 100%;
    text-align: center;
    font-size: 20px;
    color: #fff;
  }

  &__items {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
}
