.wrapper {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 12;

    &__back_button {
        color: #fff;
        border: none;
        background-color: #e5194a;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 10px;

        &:hover {
            opacity: .9;
        }
    }
}