.wrapper {
  padding: 10px;
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 20px;
  list-style-type: none;
  border: 1px solid;
  border-radius: 10px;

  &__avatar {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border-radius: 50%;
    border: 1px solid;
    padding: 10px;
    background-color: aliceblue;

    img {
      width: inherit;
      height: inherit;
      border-radius: inherit;
    }
  }

  &__info {

    p {
        margin: 10px 0;
    }
  }

  &__company {
      display: flex;
      flex-direction: column;
  }

  &__buttons {
    display: flex;
    column-gap: 20px;
    flex: 1;
    justify-content: flex-end;

    button {
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        opacity: .9;
      }
    }
  }

  &__edit {
    background-color: rgb(0, 216, 29);
  }

  &__delete {
    background-color: rgb(255, 35, 6);
  }
}
