.wrapper {
  position: fixed;
  width: 100%;
  max-width: 500px;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1500;

  &__header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__close_button {
    background-color: #ff2306;
  }

  &__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    opacity: 0.7;
    z-index: 1000;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 100px);
    row-gap: 20px;

    label {
      display: flex;
      flex-direction: column;
    }

    input {
      padding: 5px;
      border-radius: 5px;
    }
  }

  button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
    color: #fff;

    &:hover {
      opacity: 0.9;
    }
  }

  &__submit_button {
    background-color: #00d81d;
  }
}
