.pagination_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;

    &__button {
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        color: #000;
    }

    &__button_active {
        padding: 12px;
        border: 1px solid rgb(102, 255, 0);
    }
}