.wrapper {
  list-style: none;

  &__delete_button {
    background-color: #ff2306;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
  }
}
