.wrapper {
  &__background {
    padding: 20px;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__search_item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      padding: 10px;
      border: none;
      border: 1px solid #000;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  &__search_input {
    width: 100%;
    max-width: 500px;
    border-radius: 10px 0 0 10px;
    border: 1px solid;
  }

  &__search_submit {
    padding: 10px;
    border-radius: 0 10px 10px 0;
    background-color: #e5194a;
    color: #fff;
    cursor: pointer;
  }

  &__search_reset {
    margin-left: 10px;
    border-radius: 10px;
    background-color: #193ee5;
    color: #fff;
    cursor: pointer;
  }

  &__sort {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 40px;
  }

  &__sort_select {
    margin-left: 10px;
  }
}
