.wrapper {
  &__header {
    width: 100%;
    padding: 20px 0;
    background-color: #20252a;

    &_nav {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 20px;

      a {
        text-decoration: none;
        color: #fff;

        &:hover {
            color: rgb(144, 146, 146);
        }
      }
    }
  }
}
